/* Define o fundo com um gradiente azul suave que muda de tom */
body {
    background: linear-gradient(180deg, #004080, #0099ff);
    /* Ajusta a altura do fundo para cobrir toda a página */
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
h1 {
    text-align: center;
    color: white;
    box-shadow: 10px 10px 10px black;
    background-color: gray;
    margin-left: 75px;
    margin-right: 1200px;
    border-radius: 30px;
    margin-top: -58px;
}
div {
    background-color: white;
    padding-top: 1px;
    padding-bottom: 10px;
}
.logo {
    width: 70px;
    margin-top: 10px;
}
h3 {
    text-align: right;
    margin-right: 20px;
    margin-top: -42px;
}
.login {
    margin-right: 100px;
    margin-top: -42px;
}
