/* Define o fundo com um gradiente azul suave que muda de tom */
body {
    background: linear-gradient(180deg, #004080, #0099ff);
    /* Ajusta a altura do fundo para cobrir toda a página */
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
h1 {
    text-align: center;
    color: white;
    text-shadow: 10px 10px 10px black;
    margin-left: 75px;
    margin-right: 1250px;
    margin-top: -58px;
}
.logo {
    width: 70px;
    margin-top: 0px;
}
.cadas {
    color: white;
    text-align: right;
    margin-right: 20px;
    margin-top: -50px;
}
.login {
    color: white;
    text-align: right;
    margin-right: 150px;
    margin-top: -40px;
}
h3:hover{
    font-size: 20px;
    transition: all 1s;
}
form {
    display: inline-block;
    margin-left: 500px;
    margin-top: 100px;
}
.sport {
    margin-top: 20px;
    margin-right: 20px;
    width: 150px; /* Largura do quadrado */
    height: 150px; /* Altura do quadrado */
    object-fit: cover; /* Faz o ajuste e corte */
    border-radius: 8px; /* Bordas arredondadas (opcional) */
}
.name {
    text-align: center;
}
.opcao {
    display: inline-block;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    float: left;
}
.opcao:hover {
    background-color: rgb(74, 74, 255);
    transition: all 1s;
}
.confirmar {
    padding: 8px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
    color: white;
    margin-left: 178px;
    background-color: rgb(0, 0, 86);
}
.confirmar:hover {
    background-color: blue;
   transition: all 50ms; 
}